.container
  .row
    .col-lg-12.form-group
      | Edit #{resource_name.to_s.humanize}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          div
            | Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field
          = f.label :password
           
          br/
          = f.password_field :password, autocomplete: "off"
          - if @minimum_password_length
            br/
            em
              = @minimum_password_length
              | characters minimum
        .field
          = f.label :password_confirmation
          br/
          = f.password_field :password_confirmation, autocomplete: "off"
        .field
          = f.label :current_password
           
          br/
          = f.password_field :current_password, autocomplete: "off"
        .field
          = f.label :first_name
          br
          = f.text_field :first_name
        .field
          = f.label :first_name
          br
          = f.text_field :last_name
        .actions
          = f.submit "Update"
      h3 Cancel my account
      p
        | Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      = link_to "Back", :back

