= simple_form_for([:admin, @post], html: { class: 'form-group' }) do |f|
  = f.input :title, placeholder: 'title'
  = f.input :description, placeholder: 'description'
  = f.input :file, as: :file 
  .col-12
    = radio_button_tag 'share_for', 'User', class: 'form-check-input'
    | Share for user
    = select_tag 'user', options_from_collection_for_select(User.all, 'id', 'full_name')
  .col-12
    = radio_button_tag 'share_for', 'Group'
    | Share for group
    = select_tag 'group', options_from_collection_for_select(Group.all, 'id', 'name')
  .col-12
    = radio_button_tag 'share_for', 'None'
    | Don't share post

  = f.button :submit, class: 'btn btn-success'