.container
  .row
    .col-12.mt-5
      - if can? :craete, @post
        = link_to 'Create new post', new_admin_post_path, class: 'btn btn-success my-2'
      table.table.table-striped.table-bordered.table-dark
        thead
          tr
            th scope="col"  #
            th scope="col"  Title
            th scope="col"  Created at
            th scope="col"  Actions
        tbody
          - @posts.each do |post|
            tr
              th scope="row" 
                = @count += 1
                td= post.title
                td= post.created_at
                td
                  - if can? :read, @post 
                    = link_to 'Show', admin_post_path(post.id), class: 'btn btn-primary mx-1'
                  - if can? :update, @post
                    = link_to 'Edit', edit_admin_post_path(post.id), class: 'btn btn-success mx-1'
                  - if can? :destroy, @post
                    = link_to 'Delete', admin_post_path(post.id), method: :delete, class: 'btn btn-danger mx-1'