.container
  .row
    .col-12
      table.table.table-striped.table-bordered.table-dark.mt-5
        thead
          tr
            th scope="col"  Title
            th scope="col"  Description
            - if @post.file.attached?
              th scope="col"  File
            th scope="col"  Created at
        tbody
            tr
              td= @post.title
              td= @post.description
              - if @post.file.attached?
                td= link_to 'download_file', url_for(@post.file), target: 'balnk'
              td= @post.created_at
      = link_to 'All posts', admin_posts_path, class: 'btn btn-success'
