.container
  .row
    .col-9.offset-1.align-self-center
      h2 Log in
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
        .actions
          = f.submit "Log in", class: 'btn btn-success'

      = render "devise/shared/links"