#myModal.modal.fade.p-4 role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-head.m-2.h4 Add new member
      .modal-body
        = form_tag(admin_groups_add_member_path, method: :post)
          = select_tag 'user_id', options_from_collection_for_select(User.not_group_members(@group.id), "id", "full_name")
          = hidden_field_tag 'id', @group.id 
          = submit_tag "Add new member", class: 'btn btn-success'