.container
  .row
    .col-12
      = link_to 'New Group', new_admin_group_path, class: 'btn btn-success mt-3'
      .col-12.mt-3
      table.table.table-striped.table-bordered.table-dark
        thead
          tr
            th scope="col"  #
            th scope="col"  Group name
            th scope="col"  Actions
        tbody
          - @groups.each do |group|
            tr
              th scope="row" 
                = @count += 1
                td= group.name
                td 
                  = link_to 'Show', admin_group_path(group.id), class: 'btn btn-primary mx-1'
                  = link_to 'Edit', edit_admin_group_path(group.id), class: 'btn btn-warning mx-1'
                  = link_to 'Delete', admin_group_path(group.id), method: :delete, class: 'btn btn-danger mx-1'