.container
  .row
    .col-12.my-3
      button.btn.btn-success data-target="#myModal" data-toggle="modal" type="button"  Add new member
      .h2 Name 
      .h5 = @group.name
      .h2 Members
      table.table.table-striped.table-bordered.table-dark
        thead
          tr
            th scope="col"  #
            th scope="col"  Full name
            th scope="col"  Email
            th scope="col"  Actions
        tbody
          - @users.each do |user|
            tr
              th scope="row" 
                = @count += 1
                td
                  = user.full_name
                td
                  = user.email
                td 
                  = link_to 'Show', admin_user_path(user.id), class: 'btn btn-primary mx-1'
                  = link_to 'Delete from group', admin_groups_destroy_member_path(user_id: user.id, id: @group.id), method: :delete, class: 'btn btn-danger mx-1'
      = render partial: 'admin/groups/add_member'