.container
  .row
    .col-4
      = simple_form_for([:admin, @user], html: { class: 'form-group' }) do |f|
        = f.input :first_name, placeholder: 'first name'
        = f.input :last_name, placeholder: 'last name'
        = f.input :email, placeholder: 'user@domain.com'
        = f.button :submit, class: 'btn btn-success'
