.container
  .row
    .col-12.mt-5
      table.table.table-striped.table-bordered.table-dark
        thead
          tr
            th scope="col"  #
            th scope="col"  Full name
            th scope="col"  Email
            th scope="col"  Actions
        tbody
          - @users.each do |user|
            tr
              th scope="row" 
                = @count += 1
                td
                  = user.full_name
                td
                  = user.email
                td 
                  = link_to 'Show', admin_user_path(user.id), class: 'btn btn-primary mx-1'
                  = link_to 'Edit', edit_admin_user_path(user.id), class: 'btn btn-success mx-1'
                  = link_to 'Delete', admin_user_path(user.id), method: :delete, class: 'btn btn-danger mx-1'