.container
  .row
    .col-12
      table.table.table-striped.table-bordered.table-dark
        thead
          tr
            th scope="col"  Full name
            th scope="col"  Email
        tbody
            tr
              td
                = @user.full_name
              td
                = @user.email