nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'HR-Department', root_path, class: 'navbar-brand'
  = link_to 'Posts', admin_posts_path,  class: 'nav-link'
  = link_to 'Users', admin_users_path,  class: 'nav-link'
  = link_to 'Groups', admin_groups_path,class: 'nav-link'
  button.navbar-toggler aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button" 
    span.navbar-toggler-icon
  - if user_signed_in?
    li.text-left
      = link_to('Logout', destroy_user_session_path, method: :delete)
  - else
    li.text-right
      = link_to('Login', new_user_session_path)
