- if notice
  p.notice.alert.alert-info
    = notice
    button.close aria-label="Close" data-dismiss="alert" type="button" 
      span aria-hidden="true"  ×
- if alert
  p.alert.alert-info
    = alert
    button.close aria-label="Close" data-dismiss="alert" type="button" 
      span aria-hidden="true"  ×