nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'HR-Department', root_path, class: 'navbar-brand'
  = link_to 'My account', edit_user_registration_path, class: 'navbar'
  - if current_user && current_user.admin?
    = link_to 'Admin', admin_users_path, class: 'navbar'
  = link_to 'Shared posts', posts_path, class: 'navbar'
  button.navbar-toggler aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button" 
    span.navbar-toggler-icon
  - if user_signed_in?
    li.text-left
      = link_to('Logout', destroy_user_session_path, method: :delete)
  - else
    li.text-right
      = link_to('Login', new_user_session_path)
